.expandable img {
  width: 100%;
  border-radius: 12px;
  height: 90%;
}

.expandable h1 {
  font-family: 'tangerine';
  font-size: 50px;
  margin: 10px 20px;
  
}

.expandable button {
  font:italic;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 500px;
  background-color: transparent;
  color: brown;
  
}

.expandable button:hover {
  color: white;
  background-color: rgb(91, 58, 7);
}
.expandableTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expandableTitle button {
  border: none
}

.description-enter {
  transform: translateY(-100%);
}
.description-enter-active {
  transform: translateY(0%);
}

.description-exit {
  transform: translateY(0%);
}
.description-exit-active {
  transform: translateY(100%);
}

.description-enter-active,
.description-exit-active {
  transition: transform 200ms ;
}
/* .description-exit-active {
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateY(-48px);
} */


